/*
Font Sizing Hack via
http://html5boilerblate.com and
http://developer.yahoo.com/yui/fonts/
=====================================
target size Declare this
in pixels (px) percent (%)
10 77
11 85
12 93 (was 93)
13 100
14 108 (was 107)
15 116 (was 114)
16 123.1 (was 122)
17 131 (was 129)
18 138.5 (was 136)
19 146.5 (was 144)
20 153.9 (was 152)
21 161.6 (was 159)
22 167
23 174
24 182
25 189
26 197
*/

@import "normalize";

$base03: #002b36;
$base02: #073642;
$base01: #586e75;
$base00: #657b83;
$base0: #839496;
$base1: #93a1a1;
$base2: #eee8d5;
$base3: #fdf6e3;
$yellow: #b58900;
$orange: #cb4b16;
$red: #dc322f;
$magenta: #d33682;
$violet: #6c71c4;
$blue: #268bd2;
$cyan: #2aa198;
$green: #859900;

$border: 1px solid $base02;

/*
 * Layout
 */
body > * {
  margin: 0;
  padding: {
    left: 7em;
    right: 7em;
    top: 1em;
    bottom: 1em;
  }
}
nav {
  height: 2.4em;
  ul {
    margin: 0;
    padding: 0;
  }
  li {
    display: inline;
    float: left;
    margin: 0;
    margin-right: 1em;
    padding: 0;
  }
  ul ul {
    display: none;
  }
  li:active ul, li:hover ul {
    display: block;
    width: 5em;
  }
  li ul {
    position: absolute;
  }
}

h1,h2,h3,h4,h5,h6 {
  font-weight: lighter;
  text-transform: capitalize;
  font-variant: small-caps;
}
h1 {
  font-size: 153.9%;        //26px
  font-weight: normal;
  border-bottom: $border;
}
div[role="main"] h1:first-child {
  font-size: 197%;
  font-weight: bold;
  text-align: center;
  border: none;
}
h2 {
  font-size: 153.9%;        //23px
  border-bottom: $border;
}
// h3,h4,h5,h6 {
//   border-bottom: none;
// }
h3 { font-size: 146.5% }    //20px
h4 { font-size: 138.5% }    //18px
h5 { font-size: 138.5% }    //18px
h6 { font-size: 138.5% }    //18px

/*
 * Colors / Fonts
 */
body {
  background-color: $base02;
  color: $base2;
}
header, footer {
  a {
    background-color: $base02;
    color: $base2;
  }
}
div[role="main"] {
  background-color: $base2;
  color: $base02;
}
dt {
  font-weight: bold;
}


/*
 * Modules
 */

.button {
  border: 1px solid;
  border-radius: 0.5em;
  cursor: pointer;
  display: inline-block;
  padding: 0.5em;
  text-align: center;
  text-decoration: none;
  width: 5em;
}
.floatright {
  float: right;
}


/*
 * TEMP
 */
code {
  background-color: white;
  border: $border;
  display: block;
  font-family: monospace;
  padding: 0.5em;
  white-space: pre;
}