body > * {
  margin-left: 10em;
  margin-right: 10em;
  margin-top: 0;
  margin-bottom: 0;
}
header, footer {
  background-color: #333;
  color: #ccc;
}
div[role="main"] {
  background-color: #ccc;
  color: #333;
}