body > * {
  margin: 0;
  padding-left: 10em;
  padding-right: 10em;
  padding-top: 1em;
  padding-bottom: 1em;
}
header, footer {
  background-color: #333;
  color: #ccc;
}
div[role="main"] {
  background-color: #ccc;
  color: #333;
}